@font-face {
    font-family: "rejouice";
    src: url(./SuisseIntl-Light.ttf) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "rejo";
    src: url(./SuisseIntl-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "rejou";
    src: url(./SuisseIntl-Regular.woff2) format('woff2');
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rejou";
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-size: clamp(14px,1vw,20px);
}

.page1{
    height: 90vh;
    width: 100%;
    position: relative;
}


.page1-content{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #000000;
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.page1-content h1{
    font-family: "rejou";
    font-size: 25vw;
    overflow: hidden;
    margin-top: 2vh;
}

.page1-content h1 span{
    display: inline-block;
}

#bottom{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0rem 2.5rem;
}
.h3-txxt{
    width: 23%;
    display: flex;
    justify-content: space-between;
}


#bottom  h3{
    font-size: 1rem;
    font-family: "rejouice";
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw;
    background: #000000;
    text-transform: capitalize;
    font-family: "rejou";
    position: fixed;
    z-index: 9;
    color: #ffffff;
}

nav button{
    display: none;
}

nav .nav-txt{
    height: 2vh;
    width: 12vw;
    text-align: center;
    overflow: hidden;
}

.nav-txt h2{
    font-size: .95vw; 
}

.nav-txt h3{
    font-size: .9vw;
}

.h4-txt{
    position: relative;
    height: 2.2vh;
    width: 5rem;
    display: inline-block;
    font-size: .9vw;
    overflow: hidden;
}

.h4-txt::after   {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: white; 
  transition: width 0.5s ease-out;
}

.h4-txt:hover::after {
  width: 100%;
}

.h4-txt h4{
    margin-left: -.6rem;
    margin-bottom: .2rem;
    transition: all ease-out 0.5s;
    white-space: nowrap;
}

.h4-txt h4:hover{
    margin-left: .3rem;
    transition: all ease-out .5s;
}


#nav-center{
    position: relative;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: .9vw;
    margin-left: 8vw;
    cursor: pointer;
}

#nav-center h4{
    position: relative;
    display: inline-block;
}

#nav-center h4:nth-child(1){
    font-family: "rejo";
    color: #404040;
}

#nav-center h4::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: white; 
    transition: width 0.5s ease-out;
}

#nav-center h4:hover::after{
    width: 100%;
}

.page2{
    height: 100vh;
    width: 100%;
    position: relative;
}

.play-rel{
    display: none;
}

.page2>h1{
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "rejouice";
    font-size: 4vw;
    color: #fff;
}

.page2>h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width .5s ease-out;
}

.page2>h1:hover::after{
    width: 100%;
}

.video-div {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    scale: 0;
    position: fixed;   /* ✅ relative → fixed */
    top: 0;            /* ✅ ensure full screen overlay */
    left: 0;
    z-index: 999;      /* ✅ top of everything */
    display: none;
    transform-origin: center; /* ✅ GSAP animation center se ho */
}


.video-div>i{
    display: none;
}

.video-div .play-video{
    height: 100%;
    width: 100%;
}

#cursorr{
    position: fixed;
    transform: translate(-50%,50%);
    z-index: 3;
    top: 0;
    display: flex;
    scale: 1;
    gap: 1vw;
    z-index: 999;
}

#cursorr i{
    font-size: 1.3vw;
    color: #312f2f97;
}

#cursorr h5{
    font-size: 1.3vw;
    font-weight: 300;
    font-family: "rejo";
    color: #312f2f97;
}

.page2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#cursor{
    position: fixed;
    transform: translate(-50%,50%);
    z-index: 3;
    display: flex;
    scale: 0;
    gap: 1vw;
}

#cursor i{
    font-size: 1.3vw;
    color: #312f2f97;
}

#cursor h5{
    font-size: 1.3vw;
    font-weight: 300;
    font-family: "rejo";
    color: #312f2f97;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    padding: 2vw;
}

.page3 .para{
    height: 40vh;
    width: 100%;
    font-family: "rejouice";
    padding: 1vw;
    color: #fff;
}

.para .word0 p{
    text-indent: 15vw;
}

.para .word3 p{
    position: relative;
    cursor: pointer;
}

.para .word3 p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    height: 1px;
    background-color: white;
    transition: width .5s ease-out;
}

.para .word3 p:hover::after{
    width: 100%;
}


.para span{
    display: inline-block;
    font-size: 4vw;
    overflow: hidden;
    line-height: 1;
}


.page3 .content{
    margin-top: 9vh;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    border-top: 1px solid #404040;
    color: #fff;
    padding-top: 2vw;
    font-family: "rejouice";
}

.content #right{
    height: 100%;
    width: 50%;
}


#right p{
    font-size: 1.3vw;
}

#right #prgph{
    margin-top: 2vw;
}

#right #btn{
    margin-top: 3vh;
    width: 16.5%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

#right #btn h4{
    font-size: 1.3vw;
    margin-left: -1vw;
    transition: all ease .6s;
    cursor: pointer;
}

#right #btn h4:hover{
    margin-left: 0vw;
    transition: all ease .6s;
}

#right span {
    display: inline-block;
    width: 75%;
    line-height: 1;
    overflow: hidden;
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color:#000;;
    padding: 1vw 2.5vw;
    margin-top: -.1vh;
    padding-bottom: 15vw;
}

.page4 #highlight{
    font-family: "rejouice";
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.4vw;
    color: #fff;
}

#butn{
    margin-top: 3vh;
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1vh;
}

#butn h4{
    font-size: 1.3vw;
    margin-left: -.9vw;
    cursor: pointer;
}

#butn h4:hover{
    margin-left: .4vw;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page4 .container1{
    height: 120vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main-container{
    display: none;
}


.box1{
    height: 120vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
}

.box1:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}

#box-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 2;
    top: 0;
    scale: 0;
}

#box-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
    margin-left: 3vw;
}

#box-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container1 img{
    height: 100%;
    width: 100%;
}

.page4 .container2{
    height: 120vh;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container2 #img-left{
    height: 100%;
    width: 49.3%;
    position: relative;
    overflow: hidden;
}

#img-left img{
    height: 100%;
    width: 100%;
}

.container2 #img-right{
    height: 100%;
    width: 49.3%;
    position: relative;
    overflow: hidden;
}

#img-right img{
    height: 100%;
    width: 100%;
}

.box2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.box2:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}

#box2-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 5;
    top: 0;
    scale: 0;
}

#box2-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
}

#box2-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.box3:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}


#box3-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 5;
    top: 0;
    scale: 0;
}

#box3-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
    margin-left: 8vw;
}

#box3-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.page5-top{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12vh 2vw;
    gap: 6vw;
}

.page5-top .images-div{
    height: 7vh;
    width: 10%;
}

.page5-top .images-div:nth-child(5){
    height: 5vh;
    width: 5%;
}

.page5-top .images-div:nth-child(4){
    height: 5vh;
    width: 6%;
}

.page5-top .images-div:nth-child(3){
    height: 5vh;
    width: 8%;
}
.page5-top .images-div:nth-child(2){
    height: 5vh;
    width: 8%;
}

.images-div img{
    height: 100%;
    width: 100%;
}

.page5-responsive{
    display: none;
}

.page5-center{
    width: 96%;
    margin-left: 2%;
    padding: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #252424a2;
}

.page5-center h2{
    font-family: "rejouice";
    font-weight: 300;
    font-size: 1.34vw;
}

.swiper-div{
    width: 100%;
    height: 60vh;
    position: relative;
    cursor:-webkit-grab;
}

.swiper{
    width: 120%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-div2{
    display: none;
}

.page6{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 2vw;
}

.page6-top{
    height: 78vh;
    width: 100%;
    padding-top: 2vw;
    margin-bottom: 2vw;
}

.page6-top h1{
    font-size: 4.1rem;
    font-family: "rejouice";
    margin-bottom: 6vw;
}

.page6-content{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5vh 0vw;
    border-top: 1px solid #171616;
}

.page6-text {
    width: 50%;
    height: 100%;
}

.page6-text h2{
    font-size: 1.3rem;
    font-family: "rejouice";
    width: 30%;
}

.para-div{
    height: 100%;
    width: 50%;   
}

.para-div p{
    font-size: 1.3rem;
    font-family: "rejouice";
    width: 50%;
}

.page6-cont{
    height: 120vh;
    width: 100%;
    scale: .7;
}

.page6-cont video{
    height: 100%;
    width: 100%;
}

.page7{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page7-center{
    width: 34.16vw;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.page7-center h2{
    width: fit-content;
    font-family: "rejouice";
    font-size: 3.3rem;
    border-bottom: 1px solid #000;
}

.page7-center h3{
    width: fit-content;
    font-family: "rejouice";
    font-size: 3.3rem;
}

.page8{
    height: 99vh;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 2vw 2.5vw;
}
.page8-up{
    display: none;
}
.page8-top{
    height: 37vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw 0vw;
}

.top-left h1{
    font-family: "rejouice";
    font-size: 2.55rem;
    margin-bottom: 2vw;
}

.left-botom h3{
    font-size: .95rem;
}

input {
  position: relative;
  z-index: 9;
  pointer-events: auto;
}

.input-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
  width: 23rem;
}

.input-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px;
}

.input-box i {
  border: none;
  cursor: pointer;
  opacity: .5;
}

.top-right{
    height: 82%;
    width: 27%;
    display: flex;
    flex-shrink: 0;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.6vw 2vw;
}

.top-right .text{
    text-transform: capitalize;
    width: fit-content;
}

.top-right .text h4{
    font-family: "rejou";
    font-size: .9rem;
}

.top-right .text:nth-child(1) h4{
    font-family: "rejou";
    font-size: .9rem;
    margin-bottom: .4rem;
}
.top-right .text:nth-child(2) h4{
    font-family: "rejou";
    font-size: .9rem;
    margin-bottom: .4rem;
}

.page8-bottom{
    height: 56vh;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
.page8-bottom h1 span{
    display: inline-block;
}
.page8-bottom h1{
    text-align: center;
    overflow: hidden;
    font-size: 24.5vw;
}


@media (max-width: 1000px) {
    nav{
    padding: 1.5rem .6rem;
}

nav .nav-txt{
    height: 3vh;
    width: 50%;
    text-align: left;
}

.nav-txt h2{
    font-size: 1rem; 
}

.nav-txt h3{
    font-size: 1rem;
}

.h4-txt{
    display: none;
}

#nav-center{
    display: none;
}

nav button{
    display: block;
    font-family: "rejo";
    border: none;
    background-color: #ffffff1f;
    color: #fff;
    font-weight: 400;
    padding: .6rem 1.2rem;
}

.page1-content{
    justify-content: space-between;
}

.page1-content h1{
    font-size: 26vw;
    margin-top: 3rem;
}

#bottom{
    align-items: flex-end;
    padding: 0 .5rem;
    margin-bottom: .7rem;
}

.h3-txxt{
    width: 73%;
}

#bottom i{
    font-size: 1.2rem;
}

#bottom h3{
    font-size: 1rem;
    font-family: "rejou";
}

.page2>h1{
    font-size: 16vw;
    border-bottom: 3px solid #fff;
}

.play-rel{
    position: absolute;
    bottom: 4vw;
    left: 2vw;
    width: 22%;
    display: block;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 7;
}

.play-rel h2{
    font-size: 1.1rem;
    font-family: "rejo";
    font-weight: 400;
}

.video-div{
    padding: 1rem;
}

.video-div>i{
    font-weight: 100;
    display: block;
    font-size: 2rem;
    color: #fff;
}

.page3{
    min-height: 90vh;
}

.page3 .para{
    height: 30vh;
}

.page3 .para p{
    font-size: 1.7rem;
    font-family: "rejou";
    font-weight: 100;
}

.para .word0 p{
    text-indent: 0vw;
}

.page3 .content{
    margin-top: 4vh;
    height: 70vw;
}

.page3 .content h3{
    font-family: "rejou";
    font-size: 4.1vw;
    width: 30%;
    opacity: .8;
}

.content #right{
    overflow: hidden;
}

#right p{
    font-size: 4vw;
}

#right span {
    width: 100%;
}

#right #prgph{
    margin-top: 3vw;
}

#right #btn{
    margin-top: 1vh;
    width: 55.5%;
    margin-left: -2vw;
}

#right #btn h4{
    font-family: "rejouice";
    font-size: 4vw;
    margin-left: -1vw;
}

.page4{
    min-height: 70vh;
}

.page4 #highlight{
    font-size: 4.2vw;
}

#butn{
    width: 32%;
}

#butn h4{
    font-size: 4vw;
    margin-left: -2.9vw;
}

.page4 .container1{
    display: none;
}

.page4 .container2{
    display: none;
}

.main-container{
    display: block;
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 2vw;
    overflow: auto;
}

.main-container::-webkit-scrollbar {
    display: none;
}


.main-container .boxes{
    height: 57vh;
    width: 76%;
    flex-shrink: 0;
    border-radius: .5rem;
}

.main-container .boxes img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


.page5-top{
   display: none;
}

.page5-responsive{
    display: block;
    height: 28vh;
    width: 100%;
    padding-top: 10vh;
}

.moving-div {
  display: flex;
  width: max-content;
  gap: 10vw;
}

.marque {
  display: flex;
  align-items: center;
  gap: 14vw;
}

.marque img {
  height: 7vw;
  width: auto;
}
.marque img:nth-child(1){
    height: 7vw;
}

.page5-center h2{
    font-family: "rejou";
    font-weight: 100;
    font-size: 4.1vw;
}

.swiper-div{
    display: none;
}

.swiper-div2{
    display: block;
    width: 100%;
    height: 58.1vh;
    position: relative;
    cursor:-webkit-grab;
}

.swiper2{
    width: 100%;
    height: 100%;
}

:root {
  --swiper-wrapper-transition-timing-function: linear;
}

.swiper-slide {
    width: 69vw !important;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper2 {
    margin-left: auto;
    margin-right: auto;
}

.page6-top{
    padding-top: 10vw;
    margin-bottom: 2vw;
}

.page6-top h1{
    font-size: 2rem;
    font-family: "rejou";
    margin-bottom: 10vw;
}

.page6-content{
    height: 29vh;
    padding: 2vh 1vw;
}

.page6-content:nth-child(3){
    height: 38vh;
    padding: 2vh 1vw;
}

.page6-text h2{
    font-size: 1.1rem;
    line-height: 1;
    font-family: "rejouice";
    width: 60%;
}

.para-div p{
    font-size: 1.05rem;
    font-family: "rejouice";
    width: 90%;
}

.page6-cont{
    margin-top: 3vh;
    width: 100%;
    height: 60vw;
    padding: 0vw 1vw;
}

.page7{
    height: 50vh;
}

.page7-center{
    width: 70vw;
    height: 6vh;
}

.page7-center h2{
    font-size: 2rem;
}

.page7-center h3{
    font-size: 2rem;
}

.page8{
    height: 100vh;
}

.page8-top{
    display: none;
}

.page8-up{
    position: relative;
    display: block;
    height: 73vh;
    width: 100%;
}

.up-top{
    height: 30vh;
    width: 100%;
    display: flex;
}

.up-left{
    width: 60%;
    height: 100%;
}
.up-left h1{
    font-family: "rejouice";
    text-transform: capitalize;
}

.up-right h4{
    font-size: 1rem;
    margin-bottom: 1vh;
}

.up-right h5{
    font-size: 1rem;
    margin-top: 7vh;
}

.page8-center{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.page8-center h3{
    font-size: 1rem;
    width: 50%;
}

.input-box {
  width: 100%;
}

.page8-bottom{
    height: 25vh;
}
.page8-bottom h1{
    font-size: 24vw;
    margin-top: -2vh;
}

}