@font-face {
    font-family: "rejouice";
    src: url(./SuisseIntl-Light.ttf) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "rejo";
    src: url(./SuisseIntl-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "rejou";
    src: url(./SuisseIntl-Regular.woff2) format('woff2');
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rejou";
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-size: clamp(14px,1vw,20px);
}

.page1{
    height: 90vh;
    width: 100%;
    background-color: pink;
    position: relative;
}


.page1-content{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #000000;
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.page1-content i{
    margin-left: 95vw;
    margin-bottom: 4vh;
}

.page1-content h1{
    font-family: "rejou";
    font-size: 25vw;
    overflow: hidden;
    margin-top: 2vh;
}

h1 span{
    display: inline-block;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-right: 73vw;
    margin-top: 7vh;
}

#bottom h3{
    font-family: "rejouice";
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw;
    background-color: transparent;
    text-transform: capitalize;
    font-family: "rejou";
    position: fixed;
    z-index: 9;
    color: #ffffff;
}

nav h3{
    font-size: .9vw;
}

nav > h4{
    font-size: .9vw;
}


#nav-center{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: .9vw;
    margin-left: 8vw;
    cursor: pointer;
}

#nav-center h4:nth-child(1){
    font-family: "rejo";
    color: #404040;
}

.page2{
    height: 100vh;
    width: 100%;
    position: relative;
}

.page2>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "rejouice";
    font-size: 4vw;
    color: #fff;
}

.page2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#cursor{
    position: fixed;
    transform: translate(-50%,50%);
    z-index: 3;
    display: flex;
    scale: 0;
    gap: 1vw;
}

#cursor i{
    font-size: 1.3vw;
    color: #312f2f97;
}

#cursor h5{
    font-size: 1.3vw;
    font-weight: 300;
    font-family: "rejo";
    color: #312f2f97;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    padding: 2vw;
}

.page3 .para{
    height: 40vh;
    width: 100%;
    font-family: "rejouice";
    padding: 1vw;
    color: #fff;
}

.para .word0 p{
    text-indent: 15vw;
}

.para .word3 p{
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.para span{
    display: inline-block;
    font-size: 4vw;
    overflow: hidden;
    line-height: 1;
}


.page3 .content{
    margin-top: 9vh;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    border-top: 1px solid #404040;
    color: #fff;
    padding-top: 2vw;
    font-family: "rejouice";
}

.content #right{
    height: 100%;
    width: 50%;
}


#right p{
    font-size: 1.3vw;
}

#right #prgph{
    margin-top: 2vw;
}

#right #btn{
    margin-top: 3vh;
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

#right #btn h4{
    font-size: 1.3vw;
    margin-left: -1vw;
    cursor: pointer;
}

#right #btn h4:hover{
    margin-left: 0vw;
    transition: all ease .6s;
}

#right span {
    display: inline-block;
    width: 75%;
    line-height: 1;
    overflow: hidden;
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color:#000;;
    padding: 1vw 2.5vw;
    margin-top: -.1vh;
    padding-bottom: 15vw;
}

.page4 #highlight{
    font-family: "rejouice";
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.4vw;
    color: #fff;
}

#butn{
    margin-top: 3vh;
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1vh;
}

#butn h4{
    font-size: 1.3vw;
    margin-left: -.9vw;
    cursor: pointer;
}

#butn h4:hover{
    margin-left: .4vw;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page4 .container1{
    height: 120vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.box1{
    height: 120vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
}

.box1:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}

#box-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 2;
    top: 0;
    scale: 0;
}

#box-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
    margin-left: 3vw;
}

#box-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container1 img{
    height: 100%;
    width: 100%;
}

.page4 .container2{
    height: 120vh;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container2 #img-left{
    height: 100%;
    width: 49.3%;
    position: relative;
    overflow: hidden;
}

#img-left img{
    height: 100%;
    width: 100%;
}

.container2 #img-right{
    height: 100%;
    width: 49.3%;
    position: relative;
    overflow: hidden;
}

#img-right img{
    height: 100%;
    width: 100%;
}

.box2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.box2:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}

#box2-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 5;
    top: 0;
    scale: 0;
}

#box2-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
}

#box2-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.box3:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.518),rgba(0, 0, 0, 0.644));
}


#box3-cursor{
    height: 50vh;
    width: 20vw;
    position: absolute;
    z-index: 5;
    top: 0;
    scale: 0;
}

#box3-cursor h5{
    position: inherit;
    top: -2vw;
    font-family: "rejo";
    color: #fff;
    margin-left: 8vw;
}

#box3-cursor video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.page5-top{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12vh 2vw;
}

.page5-top img{
    height: 10%;
    width: 10%;
}

.page5-center{
    width: 96%;
    margin-left: 2%;
    padding: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #252424a2;
}

.page5-center h2{
    font-family: "rejouice";
    font-weight: 300;
    font-size: 1.34vw;
}

.swiper-div{
    width: 100%;
    height: 60vh;
    position: relative;
    cursor:-webkit-grab;
}

.swiper{
    width: 120%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 19%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.page6{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 2vw;
}

.page6-top{
    height: 78vh;
    width: 100%;
    padding-top: 2vw;
    margin-bottom: 2vw;
}

.page6-top h1{
    font-size: 4.1rem;
    font-family: "rejouice";
    margin-bottom: 6vw;
}

.page6-content{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5vh 0vw;
    border-top: 1px solid #171616;
}

.page6-text {
    width: 50%;
    height: 100%;
}

.page6-text h2{
    font-size: 1.3rem;
    font-family: "rejouice";
    width: 30%;
}

.para-div{
    height: 100%;
    width: 50%;   
}

.para-div p{
    font-size: 1.3rem;
    font-family: "rejouice";
    width: 50%;
}

.page6-cont{
    height: 120vh;
    width: 100%;
    scale: .7;
}

.page6-cont video{
    height: 100%;
    width: 100%;
}

.page7{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page7-center{
    width: 34.16vw;
    height: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.page7-center h2{
    width: fit-content;
    font-family: "rejouice";
    font-size: 3.3rem;
    border-bottom: 1px solid #000;
}

.page7-center h3{
    width: fit-content;
    font-family: "rejouice";
    font-size: 3.3rem;
}

.page8{
    height: 100vh;
    width: 100%;
    background-color: black;
}




