@font-face {
    font-family: "rejouice";
    src: url(./SuisseIntl-Light.ttf) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: "rejo";
    src: url(./SuisseIntl-Regular.woff2) format('woff2');
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "rejouice"; */
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 90vh;
    width: 100%;
    background-color: pink;
    position: relative;
}


.page1-content{
    height: 90vh;
    width: 100%;
    position: relative;
    background-color: #111;
    z-index: 3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.page1-content i{
    margin-left: 95vw;
    margin-bottom: 4vh;
}

.page1-content h1{
    font-family: "rejo";
    font-size: 26vw;
    overflow: hidden;
    margin-top: -10vh;
}

h1 span{
    display: inline-block;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-right: 73vw;
    margin-top: 7vh;
}

#bottom h3{
    font-family: "rejouice";
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw;
    text-transform: capitalize;
    font-family: "rejouice";

}

#nav-center{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: .9vw;
    margin-left: 8vw;
    cursor: pointer;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
    position: relative;
}

.page2>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "rejouice";
    font-size: 4vw;
    color: #fff;
}

.page2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#cursor{
    position: fixed;
    transform: translate(-50%,50%);
    z-index: 3;
    display: flex;
    scale: 0;
    gap: 1vw;
}

#cursor i{
    font-size: 1.3vw;
    color: #312f2f97;
}

#cursor h5{
    font-size: 1.3vw;
    font-weight: 300;
    font-family: "rejo";
    color: #312f2f97;
}

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    padding: 2vw;
}

.page3 .para{
    height: 40vh;
    width: 100%;
    font-family: "rejouice";
    padding: 1vw;
    color: #fff;
}

.para .word0 p{
    text-indent: 15vw;
}

.para .word3 p{
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.para span{
    display: inline-block;
    font-size: 4vw;
    overflow: hidden;
    line-height: 1;
}


.page3 .content{
    margin-top: 9vh;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    border-top: 1px solid #404040;
    color: #fff;
    padding-top: 2vw;
    font-family: "rejouice";
}

.content #right{
    height: 100%;
    width: 50%;
}


#right p{
    font-size: 1.3vw;
}

#right #prgph{
    margin-top: 2vw;
}

#right #btn{
    margin-top: 3vh;
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}

#right #btn h4{
    font-size: 1.3vw;
    margin-left: -1vw;
    cursor: pointer;
}

#right #btn h4:hover{
    margin-left: 0vw;
    transition: all ease .6s;
}

#right span {
    display: inline-block;
    width: 75%;
    line-height: 1;
    overflow: hidden;
}

.page4{
    min-height: 100vh;
    width: 100%;
    background-color:#000;;
    padding: 1vw 2.5vw;
    margin-top: -.1vh;
}

.page4 #highlight{
    font-family: "rejouice";
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.4vw;
    color: #fff;
}

#butn{
    margin-top: 3vh;
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1vh;
}

#butn h4{
    font-size: 1.3vw;
    margin-left: -.9vw;
    cursor: pointer;
}

#butn h4:hover{
    margin-left: .4vw;
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page4 .container1{
    height: 120vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.box1{
    height: 110vh;
    width: 90%;
    background-color: transparent;
    position: absolute;
    top: 5vh;
    left: 5%;
}

#box-cursor{
    height: 50vh;
    width: 20vw;
    background-color: #f9f7;
    position: absolute;
    z-index: 2;
    top: 0;
    scale: 0;
}

.container1 img{
    height: 100%;
    width: 100%;
}

.page4 .container2{
    height: 120vh;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2 #img-left{
    height: 100%;
    width: 49.3%;
}

#img-left img{
    height: 100%;
    width: 100%;
}

.container2 #img-right{
    height: 100%;
    width: 49.3%;
}

#img-right img{
    height: 100%;
    width: 100%;
}
